.banner-container {
    background-image: url('../images/404.png');
    height: 400px;
}

.banner{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.825);
}

.banner .title {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.banner .sub-title {
    font-size: 150%;
}